@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;500;700;900&display=swap");

:root {
    --section-padding: 7.5em;
    --container-padding: 6rem;
    --space-between-p: 1.4em;
    --footer-padding: 4.5em 0;
    --header-padding: 4.5em 0 0;
}
body {
    background: #f3eecf;
}
* {
    padding: 0;
    margin: 0;
    font-size: 10px;
    font-family: "Roboto", sans-serif;
    line-height: 1.34;
}
html {
    scroll-behavior: smooth;
}
strong {
    font-weight: bold;
    font-size: 1em;
}
a {
    font-size: 1em;
}
p {
    font-size: 1.6em;
    margin-bottom: var(--space-between-p);
}
p:last-child,
p:only-child {
    margin-bottom: 0;
}
li {
    font-size: 1.5em;
}
ul,
ol {
    padding-left: 2.3em;
    margin-bottom: var(--space-between-p);
}
section,
div,
article,
nav {
    box-sizing: border-box;
}
h1 {
    font-size: 4.5em;
}
h2 {
    font-size: 3.5em;
}
h3 {
    font-size: 2em;
}
h4 {
    font-size: 2rem;
    margin-bottom: 0.8rem;
}

h1,
h2 {
    margin-bottom: 1em;
}
h3,
h4,
h5,
h6 {
    color: var(--text);
}
.add-space {
    padding-bottom: var(--section-padding);
}
button {
    appearance: none;
    outline: none;
    background: var(--light-gray);
    display: inline-block;
    padding: 1rem 2rem;
    font-size: 1.5em;
    border: solid 0.2rem var(--theme-text-color);
    border-radius: 0.5rem;
    line-height: 1;
    color: var(--theme-text-color);
    cursor: pointer;
    transition: all 150ms;
}
.btn {
    background: var(--main-blue);
    display: inline-block;
    padding: 1.2rem 3rem;
    color: white;
    text-decoration: none;
    border-radius: 0.3rem;
    font-size: 1.5em;
    font-weight: bold;
    line-height: 1;
    border: solid 0.2rem var(--main-blue);
    transition: all 150ms;
}
.btn:hover {
    background: transparent;
    color: var(--main-blue);
}
.btn:disabled {
    opacity: 0.5;
    cursor: not-allowed;
}
.btn:disabled:hover {
    background: var(--main-blue);
    color: white;
}
.btn.black {
    background: var(--text);
    border-color: var(--text);
}
.btn.black:hover {
    background: transparent;
    color: var(--text);
}
a {
    transition: all 150ms;
    color: var(--text-link);
}
a:hover {
    color: black;
}
pre {
    font-family: "Courier", monospace;
    font-size: 1.2rem;
    color: gray;
}

@media (max-width: 480px) {
    :root {
        --container-padding: 4rem;
    }
    * {
        font-size: 8px;
    }
}
